<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>使用Alcatraz来管理Xcode插件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6956FF131C02A70000989212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6956FF2C1C02A70000989212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6956FF371C02A70000989212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
